.git
.github
.env*
!.env.example
.phpunit.result.cache
node_modules
npm-debug.log
yarn-error.log
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
!storage/**/.gitkeep
tests
*.md
docs/
test-security.sh
app-cli.sh
docker-start.sh
phpunit.xml
pint.json
.editorconfig
.gitignore
.gitattributes
!composer.lock
package.json
package-lock.json
vite.config.js
.npmrc
